body{
  margin: 0;
  padding: 0;
}

.movie-card {
  /* width: 250px; */
  /* height: 250px; */
  position: relative;
  /* gap: 5px; */

}

.movie-card-img img{
  width: 250px;
  height: 250px;
}

.movie-card-title{
  position: absolute;
  background-color: black;
  opacity: 0.98;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.parent-movie-card{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;

}